.tos-last-update {
    font-size: 1.6rem;
    color: #666666;
    margin-bottom: 1.5rem;
}

#hero .hero-title {
    font-size: 5.6rem;
    font-weight: 00;
    margin-bottom: 0.1rem;
    text-align: left
}