.text-color-main {
    margin-left: 1rem;
    color: #ffb400;
    -webkit-text-fill-color: #ffb400
}


/* Gradient Text */

#gd_label {
    display: inline-block; /* Ensure it can be transformed */
    transition: transform 2s ease; /* Smooth transition for movement */
    background: linear-gradient(135deg, #ffb400 0%, #de7800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@supports((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
    .text-color-main {
        background-image: linear-gradient(135deg, #ffb400 0%, #de7800 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0)
    }
}

@media(max-width: 37.5em) {
    .text-color-main {
        margin: 0;
        background-image: none;
        -webkit-text-fill-color: #ffb400;
        box-shadow: none
    }
}

.cta-btn::after {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(135deg, #ffb400 0%, #de7800 100%);
    width: 0px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .6s
}


.cta-btn--hero {
    color: #ffb400;
    -webkit-text-fill-color: #ffb400;
    border: 2px solid rgba(0, 0, 0, 0);
    -o-border-image: linear-gradient(135deg, #ffb400 0%, #de7800 100%);
    border-image: linear-gradient(135deg, #ffb400 0%, #de7800 100%);
    border-image-slice: 1
}

@supports((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
    .cta-btn--hero {
        background-image: linear-gradient(135deg, #ffb400 0%, #de7800 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0)
    }
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .cta-btn--hero {
        color: #ffb400
    }
    .cta-btn--hero:hover {
        color: #000
    }
}

@media(max-width: 37.5em) {
    .cta-btn--hero {
        background-image: none;
        border: 2px solid #ffb400;
        box-shadow: none;
        -webkit-text-fill-color: #ffb400
    }
}

.cta-btn--hero::after {
    height: 410%;
    width: 150%;
    transform: translate(-98%, -25%) rotate(45deg)
}

.cta-btn--hero:hover {
    -webkit-text-fill-color: #000;
    text-decoration: none
}

@media(max-width: 37.5em) {
    .cta-btn--hero:hover {
        -webkit-text-fill-color: #ffb400
    }
}

.cta-btn--hero:hover::after {
    transform: translate(-9%, -25%) rotate(45deg)
}



.scroll-down::before,
.scroll-down::after {
    height: 10px;
    width: 10px;
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #ffa600;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: none;
    border-left: none;
    animation: scroll-down 1.0s ease-in-out infinite
}




.tos-last-update {
    font-size: 1.6rem;
    color: #666666;
    margin-bottom: 1.5rem;
    transition: color 0.3s ease; /* Add this line */
}

.update-date {
    transition: color 0.3s ease; /* Add this line */
}

.update-date:hover {
    color: #ffa600; /* Change this to the color you want on hover */
}

@media(max-width: 375px) {
    .tos-last-update {
        font-size: 1.3rem
    }
}

@media(max-width: 275px) {
    .tos-last-update {
        font-size: 1.0rem
    }
}





#hero .hero-title {
    font-size: 5.6rem;
    font-weight: 00;
    margin-bottom: 0.1rem;
    text-align: left
}

.hero-logo {
    margin-top: 0;
    margin-bottom: 1.0rem;
    width: 45%;
}

@media(max-width: 56.25em) {
    #hero {
        justify-content: center
    }
}

@media(max-width: 37.5em) {
    #hero {
        padding: 0rem 1.6rem
    }
}

#hero .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left
}

#hero .hero-title span {
    margin: 0;
    display: inline-block
}

@media(max-width: 75em) {
    #hero .hero-title {
        font-size: 4rem
    }
}

@media(max-width: 56.25em) {
    #hero .hero-title {
        font-size: 3.6rem;
        text-align: center
    }
}

@media(max-width: 37.5em) {
    #hero .hero-title {
        font-size: 3.2rem;
        line-height: 1.5
    }
}

@media(max-width: 30em) {
    #hero .hero-title {
        font-size: 2.8rem
    }
}

@media(max-width: 375px) {
    #hero .hero-title {
        font-size: 2.0rem
    }
}

@media(max-width: 275px) {
    #hero .hero-title {
        font-size: 1.65rem
    }
}

#hero .hero-cta {
    display: flex
}

@media(max-width: 56.25em) {
    #hero .hero-cta {
        justify-content: center
    }
}

#hero .hero-cta a {
    font-size: 2.4rem
}

@media(max-width: 37.5em) {
    #hero .hero-cta a {
        font-size: 2rem
    }
}





.terms {
    font-size: 1.6rem;
    color: #666666;

}

.terms-container {
    padding: 5rem;
    transition: color 0.3s ease; /* Add this line */
}

.terms-container h1 {
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
    text-align: center;
}

.terms-container p {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
    text-align: left
}

.terms-container li {
    font-size: 1.3rem;
    text-align: left
}

.terms-container ol {
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 3.2rem;
}

.terms-container ul {
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 3.2rem;
}


.terms-container h2 {
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
    text-align: left;
}

.terms-container h3 {
    font-size: 1.9rem;
    margin-bottom: 1.0rem;
    text-align: left;
}

.terms-container h4 {
    font-size: 1.6rem;
    margin-bottom: 2.1rem;
    text-align: center;
}



.footer__text a {
    font-size: 1.3rem;
    color: #bfbfbf;
    transition: all .2s ease-in-out;
    display: inline-block
}

.footer__text a:hover,
.footer__text a:active {
    color: #ffa600;
}

.back-to-top:hover .fa-angle-up {
    color: #ffa600;
}